$mainColorBg: #9CCC65;
$mainColorText: #33691E;
$colorCalendar: #1e3e11;


@mixin btnStyle () {
	background-color: $mainColorBg;
	color: #fff;
	&:hover {
		background-color: $mainColorText;
	}
};

@mixin mess () {
	color: red;
	font-size: 12px !important;
}